.container {
  .nav-left {
    background: #001529;
    height: calc(100vh);
  }
  .main {
    height: calc(100vh);
    background: #f1f3f5;
    overflow: auto;
  }
  .content {
    position: relative;
    padding: 20px;
  }
}

ul, li {
  list-style: none;
}

.clearfix {
  &::after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
  }
}